coursework.pdf
california_regression.png
california_training_loss.png
.vscode
.gitignore
Principles of Artificial Intelligence Coursework.docx
california_residuals.png
conf_matrix.png
ROC.png
svm_learning.png
feature-importance.png
